{% extends "myapp/base.html" %}

{% block content %}


<!--<div class="card w-50 p-30 center">
  <img class="w-2/5" src="{{p.image.url}}" alt="Denim Jeans" style="width:100%">
  <h1>{{p.name}}</h1>
  <p class="price">₹ {{p.price}}</p>
  <p>{{p.description}}<br></p>
  <br>
  <br>
</div> -->

<div class="flex p=10 w-full h-200 bg-purple-50"><br>
  ,<center><img class="w-1/2 rounded-xl py-20" src="{{p.image.url}}" alt="unable to load image"></center>
  <div class="w-2/3 text-xl ml-10 font-bold">
    <div class="mt-10 text-black-700">ID:{{p.id}}</div><br>
    <div class="mt-10 text-black-400">Name:{{p.name}}</div><br>
    <div class="mt-10 text-black-400">Description:{{p.description}}</div><br>
    <div class="mt-10 text-black-700">Price:{{p.price}}</div><br>
   
      <a href="{% url 'users:sellerprofile' p.seller_name.id %}">
      <div class="text-sm"><b>Seller Details</b></div><br><br>
      
    </a>
    <form action="myapp/add-to-cart " class="d-inline">
      <input type="hidden" name="product_id" value="{{p.id}}"/>
      <button type="submit" class="btn btn-outline shadow px-5 py-2 btn-wide">Add To Cart</button>
    </form>
   
</div>
</div>

{% endblock %}